 body {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #8e50a199 50%, #E4E9FD 50%);
    min-height: 1000px;
  }

  .py-5 {
    padding-top: 2rem!important;
    padding-bottom: 4rem!important;
  }

  .bg-light {
    background-color: #E4E9FD !important;
  }

  .border {
    border: 0px solid #dee2e6!important;
  }

  .navbar-nav{
    color: #8e50a199;
    font-size: 20px;
    padding-right: 2rem;
  }
  
  h2 {
    color: #fff;
    padding: 2.5%;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #8e50a199;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #8e50a199;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form.item {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #8e50a199;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }

  .btn-primary {
    background-color: #8e50a199;
    min-height: 10%;
    width: 10%;
    border-color: #f8fafc;
  }

  #apology {
    width: 40%;
  }

  .vh-100 {
    height: 27rem!important;
  }
  
  input[type="text"].todo {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus.todo {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #8e50a199;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  